footer
  .container-footer
    .logo-white
      img(src="./src/assets/Logo.svg" alt="Logo")
    .address
      h4 Адрес
      p Текст, Текст, Текст
    .contacts
      h4 Контакты
      p Email: urban.dwelling@yandex.com
      p Телефон: 8 (999) 999-99-99  
    .services
      h4 Услуги
      p Каталог
      p О компании
      p Контакты
      p Доставка и оплата
      p Гарантия и возврат
    .agreements
      p Публичная оферта
      p Политика персональных данных
    .payments
      img(src="./src/assets/Frame.svg" alt="Mir")
      img(src="./src/assets/Frame02.svg" alt="Visa")
      img(src="./src/assets/master-card.svg" alt="Master Card")
    .confidentional
      p Этот сайт защищен от спама службой reCAPTCHA Google. Политика конфиденциальности/Условия предоставления услуг
