header
  .wrapper
    div Доставка и оплата
    div Гарантия и возврат
    div EN
  .navigation
    img(src="./src/assets/LogoBlack.svg" alt="logo")
    img(src="./src/assets/MenuButton.svg" alt="sandwitch button").sandwitch
    .container-nav
      nav Каталог
      nav О&nbspкомпании
      nav Контакты
    .container-btn
      label(for="input-search").sr-only Search
      input(type="text" id="input-search" value="Лампы").search
      button.btn-basket
        img(src="./src/assets/Bag.svg").img-bag
        div Корзина