main
  h2 Результаты поиска
  .container-cards
    .card
      .img-container
        .discount Акция
        img(src="./src/assets/img01.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Встраиваемый светильник Markt
      .price 
        .new-price 3 490 ₽
        .prev-price 5 060 ₽
    .card
      .img-container
        img(src="./src/assets/img02.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Линейный светильник ARG
      .price
        div 3 490 ₽
    .card
      .img-container
        .discount Акция
        img(src="./src/assets/img03.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Сведодиодный светильник
      .price
        .new-price 5 060 ₽
        .prev-price 6 060 ₽
    .card
      .img-container
        img(src="./src/assets/img01.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Встраиваемый светильник Markt
      .price 
        div 3 490 ₽
    .card
      .img-container
        .discount Акция
        img(src="./src/assets/img02.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Линейный светильник ARG
      .price
        .new-price 6 700 ₽
        .prev-price 6 060 ₽
    .card
      .img-container
        img(src="./src/assets/img03.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Сведодиодный светильник
      .price
        div 5 060 ₽
    .card
      .img-container
        .discount Акция
        img(src="./src/assets/img01.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Встраиваемый светильник Markt
      .price
        .new-price 3 490 ₽
        .prev-price 6 060 ₽
    .card
      .img-container
        img(src="./src/assets/img01.png" alt="card image").img-card
        a(href="#").card-link Подробнее
      .name Линейный светильник ARG
      .price
        div 6 700 ₽