main
  h2 Результаты поиска
  .container-cards
    .card
      img(src="./src/assets/img01.png" alt="card image").img-card
      .name Встраиваемый светильник Markt
      .price 3 490 ₽
    .card
      img(src="./src/assets/img02.png" alt="card image").img-card
      .name Линейный светильник ARG
      .price
        div 3 490 ₽
    .card
      img(src="./src/assets/img03.png" alt="card image").img-card
      .name Сведодиодный светильник
      .price
        div 3 490 ₽
    .card
      img(src="./src/assets/img01.png" alt="card image").img-card
      .name Встраиваемый светильник Markt
      .price 3 490 ₽
    .card
      img(src="./src/assets/img02.png" alt="card image").img-card
      .name Линейный светильник ARG
      .price
        div 3 490 ₽
    .card
      img(src="./src/assets/img03.png" alt="card image").img-card
      .name Сведодиодный светильник
      .price
        div 3 490 ₽
    .card
      img(src="./src/assets/img01.png" alt="card image").img-card
      .name Встраиваемый светильник Markt
      .price 3 490 ₽
    .card
      img(src="./src/assets/img02.png" alt="card image").img-card
      .name Линейный светильник ARG
      .price
        div 3 490 ₽