doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title test project. Iaroslav Rusanov
    link(rel="stylesheet" href="./src/css/style.css")
  body
    include ./src/includes/header.pug
    include ./src/includes/main.pug
    include ./src/includes/footer.pug
