.container-footer {
  padding: 60px 260px;

  background-color: $bg-footer;
  color: #F5F5F5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

h4 {
  color: $white;
  line-height: 18px;
}

p {
  font: 16px/16px "Lato Regular", sans-serif
}

.logo-white {
  grid-column: 1;
  grid-row: 1;
}

.address {
  grid-column: 2;

  line-height: 24px;
}

.contacts {
  grid-column: 2;
  grid-row: 2;

}

.services {
  grid-column: 3;
  grid-row: 1 / span 2;

  p {
    margin-bottom: 0 0 20px 0;
  }
}

.agreements {
  grid-column: 4;
  grid-row: 1;

  text-align: end;

  line-height: 22.4px;
  color: $transparent;
}

.confidentional {
  grid-column: 1;
  grid-row: 2;

  color: $transparent;
  line-height: 20.8px;
}

.payments {
  grid-column: 4;
  grid-row: 2;
  
  @extend %row;
  justify-content: end;
  gap: 33px;

}

@media(width <= 1600px) {
  .container-footer {
    padding: 60px 100px;
  }
}