.container-footer {
  padding: 60px 260px;

  background-color: $bg-footer;
  color: #F5F5F5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

h4 {
  color: $white;
  line-height: 18px;
}

p {
  font: 16px/16px "Lato Regular", sans-serif;
}

.logo-white {
  grid-column: 1;
  grid-row: 1;
}

.address {
  grid-column: 2;
  grid-row: 1;

  line-height: 24px;
}

.contacts {
  grid-column: 2;
  grid-row: 2;

}

.services {
  grid-column: 3;
  grid-row: 1 / span 2;

  p {
    margin-bottom: 0 0 20px 0;
  }
}

.agreements {
  grid-column: 4;
  grid-row: 1;

  text-align: end;

  line-height: 22.4px;
  color: $transparent;
}

.confidentional {
  grid-column: 1;
  grid-row: 2;

  max-width: 322px;

  padding-left: 50px;

  color: $transparent;
  p {
    line-height: 20.8px;
  }
}

.payments {
  grid-column: 4;
  grid-row: 2;
  
  @extend %row;
  justify-content: end;
  align-items: center;
  gap: 33px;

}

@media(width <= 1600px) {
  .container-footer {
    padding: 60px 100px;
  }
}

@media(width <= 770px) {
  .container-footer {
    padding: 60px 35px;

    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    gap: 30px;
  }
  
  .logo-white {
    grid-column: 1 / span 3;
  }

  .address {
    grid-row: 2;
    grid-column: 1;
  }

  .contacts {
    grid-row: 2;
    grid-column: 2;
  }

  .services {
    grid-row: 2 / span 2;
    grid-column: 3;
  }

  .agreements {
    grid-row: 3;
    grid-column: 1 / span 2;

    text-align: start;
  }

  .payments {
    padding-top: 20px;
    grid-row: 4;
    grid-column: 1;
    justify-content: start;
  }

  .confidentional {
    grid-row: 4;
    grid-column: 2 / span 2;

    padding-left: 40px;
  }
}

@media(width <= 400px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .payments {
    padding-top: 72px;
  }

  .confidentional {
    padding-left: 0;
  }
}