.wrapper {
  padding: 12px 260px;
  @extend %row;
  justify-content: end;
  gap: 70px;

  background-color: $dark;

  color: $white;

  font: 16px/16px "Lato Regular", sans-serif;
}

.navigation {
  padding: 12px 260px;
  @extend %row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.container-nav {
  @extend %row;
  gap: 100px;

  font: 16px/16px "Lato Bold", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.container-btn {
  @extend %row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search {
  width: 170px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 25px;

  font: 16px/16px "Lato Regular", sans-serif;
}

.search::before {
  margin-right: 20px;
  display: inline-block;
  width: 22px;
  height: 22px;

  background-image: url("../../assets/search-normal.svg");

  content: "";
}

.btn-basket {
  width: 140px;
  height: 40px;
  background-color: $dark;
  border-radius: 25px;

  @extend %row;
  justify-content: center;
  align-items: center;

  font: 16px/16px "Lato Regular", sans-serif;
  color: $white;
}

.img-bag {
  position: relative;
}

.img-bag::before {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 18px;
  height: 18px;

  border-radius: 25px;

  background-color: $white;

  content: "3";
}

@media(max-width: 1600px) {
  .wrapper {
    padding: 12px 180px;
  }

  .search {
    width: 40px;
    height: 40px;
    background-color: $orange;

  }
}

@media(max-width: 770px) {
  .wrapper {
    display: none;
  }
}