.wrapper {
  padding: 12px 260px;
  @extend %row;
  gap: 70px;
  justify-content: flex-end;
  background-color: $dark;

  color: $white;

  font: 16px/16px "Lato Regular", sans-serif;
}

.navigation {
  margin: 12px 260px;
  @extend %row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.container-nav {
  @extend %row;
  gap: 100px;

  font: 16px/16px "Lato Bold", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.container-btn {
  @extend %row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search {
  position: relative;
  width: 170px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 25px;

  font: 16px/16px "Lato Regular", sans-serif;
}

.search::before {
  position: absolute;
  width: 22px;
  height: 22px;
 
  background-image: url("../assets/search-normal-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  content: "";
}

.btn-basket {
  width: 140px;
  height: 40px;
  background-color: $dark;
  border-radius: 25px;

  @extend %row;
  justify-content: center;
  align-items: center;

  font: 16px/16px "Lato Regular", sans-serif;
  color: $white;
}

.img-bag {
  position: relative;
}

.img-bag::before {
  position: absolute;

  width: 18px;
  height: 18px;

  background-color: $white;

  background-image: url("../assets/Frame132.svg");
  background-size: cover;
  background-repeat: no-repeat;
  

  content: "";
}

.sandwitch {
  display: none;
}

@media(width <= 1600px) {
  .wrapper {
    padding: 12px 180px;
  }

  .search {
    width: 40px;
    height: 40px;
    background-color: $dark;

  }
}

@media(width <= 770px) {
  .wrapper {
    display: none;
  }

  .navigation {
    margin: 12px 44px;
  }

  .container-nav {
    display: none;
  }

  .container-btn {
    display: none;
  }

  .sandwitch {
    display: block;
  }
}

@media(width <= 390px) {
  .navigation {
    margin: 12px 35px;
  }
}