.navigation {
  padding: 12px 260px;
  @extend %row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.container-nav {
  @extend %row;
  gap: 100px;

  font: 16px/16px "Lato Bold", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.container-btn {
  position: relative;
  @extend %row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search {
  width: 170px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 25px;

  font: 16px/16px "Lato Regular", sans-serif;
  z-index: 0;
}

.icon-search-dark {
  position: absolute;
  top: 10px;
  left: 145px;
  z-index: 1;
}

.icon-search {
  position: absolute;
  top: 10px;
  left:12.5px;
  z-index: 10;
}

.btn-basket {
  width: 140px;
  height: 40px;
  background-color: $dark;
  border-radius: 25px;

  @extend %row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  font: 16px/16px "Lato Regular", sans-serif;
  color: $white;
}

.bag-counter {
  position: absolute;
  top: 5px;
  right: 82px;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $white;
  color: $dark;
  font-size: 12px;
  line-height: 16.8px;
}

.sandwitch {
  display: none;
}

@media(width <= 1600px) {
  .navigation {
    padding: 12px 100px;
  }

  .search {
    width: 40px;
    height: 40px;
    background-color: $dark;
  }

  .icon-search-dark {
    display: none;
  }
}

@media(width <= 770px) {
  .navigation {
   padding: 12px 44px;
  }

  .container-nav {
    display: none;
  }

  .container-btn {
    display: none;
  }

  .sandwitch {
    display: block;
  }
}

@media(width <= 400px) {
  .wrapper {
    padding: 12px 35px;
  }

  .navigation {
    padding: 12px 35px;
  }
}