main {
  margin: 12px 260px;
}

h2 {
  font: 44px/61px "Korataki", sans-serif;
}

.container-cards {
  @extend %row;
  row-gap: 40px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 126px;
  height: 38px;

  background-color: $dark;
  border-radius: 25px;

  color: $white;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  text-align: center;
  align-content: center;
}

.img-container {
  position: relative;
}

.card-link {
  position: absolute;
  top: 80%;
  left: 10%;

  width: 258px;
  height: 48px;

  background-color: $orange;
  border-radius: 25px;

  text-decoration: none;
  color: $white;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  text-align: center;
  align-content: center;

  visibility: hidden;
  opacity: 0;
  transition: visibility ease 0s, opacity ease 1.5s;
}

.card:hover .card-link{
  display: block;
  visibility: visible;
  opacity: 1;
}

.img-card {
  padding-bottom: 20px;
  max-width: 322px;
  max-height: 477px;
  border-radius: calc(10%);
}

.name {
  padding-bottom: 12px;
  font: 18px/25.2px "Lato Bold", sans-serif;
}

.price {
  @extend %row;
  gap: 16px;
  font: 22px/30.8px "Lato Bold", sans-serif;
}

.new-price {
  color: $orange;
}

.prev-price {
  color: $transparent;
  text-decoration: line-through;
}

@media(width <= 1600px) {
  main {
    margin: 12px 180px;
  }

  h2 {
    font-size: 40px;
    line-height: 56px;
  }

  .container-cards {
    row-gap: 30px;
  }
}

@media(width <= 770px) {
  main {
    margin: 12px 44px;
  }

  h2 {
    font-size: 32px;
    line-height: 44.8px;
  }

  .container-cards {
    row-gap: 40px;
    column-gap: 30px;
  }
  

}

@media(width <= 400px) {
  main {
    margin: 12px 35px;
  }

  .container-cards {
    row-gap: 10px;
    column-gap: 50px;
  }

  .discount {
    display: none;
  }
}