.test {
  padding: 16px;
  background-color: red;
}

.korataki {
  padding: 16px;
  font: 16px/4px "Korataki", sans-serif;
}

.lato-bold {
  padding: 16px;
  font: 16px/4px "Lato Bold", sans-serif;
}

.lato-regular {
  padding: 16px;
  font: 16px/4px "Lato Regular", sans-serif;
}

