@font-face {
  font-weight: 400;
  font-family: "Korataki";
  src: url("../assets/fonts/Korataki.ttf");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/Lato-Bold.ttf");
}
.container-cards, .btn-basket, .container-btn, .container-nav, .navigation, .wrapper {
  display: flex;
  flex-direction: row;
}

body {
  box-sizing: border-box;
  margin: 0;
  font: 18px/25.5px "Lato Bold", sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.test {
  padding: 16px;
  background-color: red;
}

.korataki {
  padding: 16px;
  font: 16px/4px "Korataki", sans-serif;
}

.lato-bold {
  padding: 16px;
  font: 16px/4px "Lato Bold", sans-serif;
}

.lato-regular {
  padding: 16px;
  font: 16px/4px "Lato Regular", sans-serif;
}

.wrapper {
  padding: 12px 260px;
  gap: 70px;
  justify-content: flex-end;
  background-color: #231815;
  color: #FFFFFF;
  font: 16px/16px "Lato Regular", sans-serif;
}

.navigation {
  margin: 12px 260px;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.container-nav {
  gap: 100px;
  font: 16px/16px "Lato Bold", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.container-btn {
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search {
  position: relative;
  width: 170px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 25px;
  font: 16px/16px "Lato Regular", sans-serif;
}

.search::before {
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../assets/search-normal-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: "";
}

.btn-basket {
  width: 140px;
  height: 40px;
  background-color: #231815;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font: 16px/16px "Lato Regular", sans-serif;
  color: #FFFFFF;
}

.img-bag {
  position: relative;
}

.img-bag::before {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: url("../assets/Frame132.svg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

.sandwitch {
  display: none;
}

@media (width <= 1600px) {
  .wrapper {
    padding: 12px 180px;
  }
  .search {
    width: 40px;
    height: 40px;
    background-color: #231815;
  }
}
@media (width <= 770px) {
  .wrapper {
    display: none;
  }
  .navigation {
    margin: 12px 44px;
  }
  .container-nav {
    display: none;
  }
  .container-btn {
    display: none;
  }
  .sandwitch {
    display: block;
  }
}
@media (width <= 390px) {
  .navigation {
    margin: 12px 35px;
  }
}
main {
  margin: 12px 260px;
}

h2 {
  font: 44px/61px "Korataki", sans-serif;
}

.container-cards {
  row-gap: 40px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  height: 565px;
  display: flex;
  flex-direction: column;
}

.img-card {
  padding-bottom: 20px;
  border-radius: 10%;
}

.name {
  padding-bottom: 12px;
  font: 18px/25.2px "Lato Bold", sans-serif;
}

.price {
  color: #E45302;
  font: 22px/30.8px "Lato Bold", sans-serif;
}

@media (width <= 1600px) {
  main {
    margin: 12px 180px;
  }
  h2 {
    font-size: 40px;
    line-height: 56px;
  }
  .container-cards {
    row-gap: 30px;
  }
  .card {
    width: 287px;
    height: 516px;
  }
}
@media (width <= 770px) {
  main {
    margin: 12px 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 44.8px;
  }
  .container-cards {
    row-gap: 40px;
    column-gap: 30px;
  }
}
@media (width <= 390px) {
  main {
    margin: 12px 35px;
  }
  .container-cards {
    row-gap: 10px;
    column-gap: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
