@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Korataki;
  src: url("../assets/fonts/Korataki.ttf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/Lato-Bold.ttf");
}

.price, .container-cards, .btn-basket, .container-btn, .container-nav, .navigation, .wrapper {
  display: flex;
  flex-direction: row;
}

body {
  box-sizing: border-box;
  margin: 0;
  color: #231815;
  font: 18px/25.5px "Lato Bold", sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  margin: auto;
  padding: 12px 260px;
  gap: 70px;
  justify-content: flex-end;
  background-color: #231815;
  color: #FFF;
  font: 16px/16px "Lato Regular", sans-serif;
}

.navigation {
  padding: 12px 260px;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.container-nav {
  gap: 100px;
  font: 16px/16px "Lato Bold", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.container-btn {
  position: relative;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search {
  width: 170px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 25px;
  font: 16px/16px "Lato Regular", sans-serif;
  z-index: 0;
}

.icon-search-dark {
  position: absolute;
  top: 10px;
  left: 145px;
  z-index: 1;
}

.icon-search {
  position: absolute;
  top: 10px;
  left: 12.5px;
  z-index: 10;
}

.btn-basket {
  width: 140px;
  height: 40px;
  background-color: #231815;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font: 16px/16px "Lato Regular", sans-serif;
  color: #FFF;
}

.bag-counter {
  position: absolute;
  top: 5px;
  right: 82px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFF;
  color: #231815;
  font-size: 12px;
  line-height: 16.8px;
}

.sandwitch {
  display: none;
}

@media (width <= 1600px) {
  .wrapper {
    padding: 12px 180px;
  }

  .navigation {
    padding: 12px 180px;
  }

  .search {
    width: 40px;
    height: 40px;
    background-color: #231815;
  }

  .icon-search-dark {
    display: none;
  }
}

@media (width <= 770px) {
  .wrapper {
    display: none;
  }

  .navigation {
    padding: 12px 44px;
  }

  .container-nav {
    display: none;
  }

  .container-btn {
    display: none;
  }

  .sandwitch {
    display: block;
  }
}

@media (width <= 390px) {
  .navigation {
    margin: 12px 35px;
  }
}

main {
  margin: 12px 260px;
}

h2 {
  font: 44px/61px Korataki, sans-serif;
}

.container-cards {
  gap: 40px 50px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 126px;
  height: 38px;
  background-color: #231815;
  border-radius: 25px;
  color: #FFF;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  text-align: center;
  align-content: center;
}

.img-container {
  position: relative;
}

.card-link {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 258px;
  height: 48px;
  background-color: #E45302;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
  text-align: center;
  align-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility ease 0s, opacity ease 1.5s;
}

.card:hover .card-link {
  display: block;
  visibility: visible;
  opacity: 1;
}

.img-card {
  padding-bottom: 20px;
  max-width: 322px;
  max-height: 477px;
  border-radius: 10%;
}

.name {
  padding-bottom: 12px;
  font: 18px/25.2px "Lato Bold", sans-serif;
}

.price {
  gap: 16px;
  font: 22px/30.8px "Lato Bold", sans-serif;
}

.new-price {
  color: #E45302;
}

.prev-price {
  color: #808080;
  text-decoration: line-through;
}

@media (width <= 1600px) {
  main {
    margin: 12px 180px;
  }

  h2 {
    font-size: 40px;
    line-height: 56px;
  }

  .container-cards {
    row-gap: 30px;
  }
}

@media (width <= 770px) {
  main {
    margin: 12px 44px;
  }

  h2 {
    font-size: 32px;
    line-height: 44.8px;
  }

  .container-cards {
    gap: 40px 30px;
  }
}

@media (width <= 400px) {
  main {
    margin: 12px 35px;
  }

  .container-cards {
    gap: 10px 50px;
  }

  .discount {
    display: none;
  }
}

footer {
  background-color: #0C0C0C;
  color: #808080;
}
